 <div class="user-details">
  <h1> About Me </h1>
  <img class="profile-img" width="150px" alt="profile" src="{{ "/assets/img/profile.jpg" | prepend: site.baseurl }}" />
  <p> {{site.user_description}} </p>
</div>

<h3>Work Experience</h3>
<table cellspacing = "20" style = "border-collapse: collapse;">
    <tr><td style = "border-bottom: 0px solid black;"><strong>06/2019 - present</strong></td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td style = "border-bottom: 0px solid black;"><b>Department of Earth Sciences, University of Oxford, UK</b> <br /> <em>Postdoctoral Research Associate</em></td></tr>
    <tr><td style = "border-bottom: 0px solid black;"><strong>10/2016 - 04/2019</strong></td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td style = "border-bottom: 0px solid black;"><b>Scripps Institution of Oceanography, UC San Diego, USA</b> <br /> <em>John W. Miles Postdoctoral Fellow at IGPP</em></td></tr>
</table>

<h3>Education</h3>
<table cellspacing = "20" style = "border-collapse: collapse;">
    <tr><td style = "border-bottom: 0px solid black;"><strong>07/2012 - 06/2016</strong></td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td style = "border-bottom: 0px solid black;"><b>Johannes Gutenberg University, Mainz, Germany</b> <br /> <em>DPhil. in Natural Sciences - Geophysics</em></td></tr>
    <tr><td style = "border-bottom: 0px solid black;"><strong>10/2008 - 06/2012</strong></td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td style = "border-bottom: 0px solid black;"><b>University of Oxford, Oxford, United Kingdom</b> <br /> <em>MEarthSci. Earth Sciences</em></td></tr>
</table>

<h3>Community work</h3>
<ul>
    <li>Organizer of the Oxford Fluids Network and Oxford Exoplanets Network annual workshops (2019)</li>
    <li>Early Career Scientist Representative for the EGU Geodynamics division (2016-2019)</li>
    <li>Member of the European Geosciences Union (EGU), the American Geophysical Union (AGU)</li>
    <li>Organizer of Geophysics (GP) seminars, IGPP/SIO (2016-2018)</li>
    <li>Member of the Organizing Committee for the 'Plate Tectonics Symposium at SIO' - May 9-10, 2018</li>
    <li>Reviewer: G-cubed, JGR - Solid Earth, Solid Earth, Tectonics, NSF (USA), GSA Bulletin, Geophys. J. Int.</li>
    <li>OSPA Judge at the AGU Fall Meetings, EGU General Assemblies</li>
    <li>Co-Convener of *Geodynamics 101* short courses at EGU GA 2018, 2019</li>
    <li>Writer for the EGU Geodynamics division Blog.</li>
</ul>

<h3>Locations</h3>
I've been very fortunate to work and live in some gorgeous places so far.

<div class="user">
  <div class="tech">
    <h3>Oxford, UK</h3>
    <img width="200px" alt="oxford" src="{{ "/assets/img/oxford1.jpg" | prepend: site.baseurl }}" />
    <p>The city of dreaming spires, amazing architecture, history and culture, and the place where Wonderland and Middle Earth came to be. </p>
  </div>
  <div class="tech">
    <h3>Mainz, DE</h3>
    <img width="200px" alt="mainz1" src="{{ "/assets/img/mainz10.jpg" | prepend: site.baseurl }}" />
    <img width="200px" alt="mainz2" src="{{ "/assets/img/mainz20.jpg" | prepend: site.baseurl }}" />
    <p>Located on the Rhine Valley (UNESCO World Heritage Site), Mainz has everything from history, medieval castles and vineyards, and easy travel access to anywhere else. </p>
  </div>
  <div class="tech">
    <h3>La Jolla, USA</h3>
    <img width="200px" alt="oxford" src="{{ "/assets/img/lajolla2.jpg" | prepend: site.baseurl }}" />
    <p>North of San Diego, La Jolla hosts UCSD and Scripps Inst. of Oceanography. Beach, sun, surf, sunsets, beer, tacos...</p>
  </div>
</div>
