<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <link rel="stylesheet" href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css">
        <a aria-label="Send email" href="mailto:adina.pusok@earth.ox.ac.uk"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Google Scholar" target="_blank" href="https://scholar.google.com/citations?user=AojkhEwAAAAJ&hl=en"><i class="icon ai ai-google-scholar-square" aria-hidden="true"></i></a>
        <a aria-label="My Orcid" target="_blank" href="https://orcid.org/0000-0002-4439-8124"><i class="icon ai ai-orcid" aria-hidden="true"></i></a>
        <a aria-label="My Publons" target="_blank" href="https://publons.com/researcher/1484953/adina-e-pusok/publications/"><i class="icon ai ai-publons-square" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/apusok"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        <a aria-label="My Bitbucket" target="_blank" href="https://bitbucket.org/adina"><i class="icon fa fa-bitbucket" aria-hidden="true"></i></a>
        <a aria-label="My Youtube" target="_blank" href="https://www.youtube.com/channel/UCOBlIEX2TMrTX1meSHNtr8Q"><i class="icon fa fa-youtube" aria-hidden="true"></i></a>
        <a aria-label="My Twitter" target="_blank" href="https://twitter.com/AdinaPusok"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me </a>
        <a class="link" href="#projects" data-scroll>Projects</a>
        <a class="link" href="#publications" data-scroll>Publications</a>
      </div>
      <h4> Click randomly in the background to create more particles </h4>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>


