<div class="user-details">
  <h1> Miscellaneous </h1>
</div>

<!-- <h3>Locations</h3> -->
I've been very fortunate to work and live in some gorgeous places so far.

<div class="user">
  <div class="tech">
    <h3>Oxford, UK</h3>
    <img width="200px" alt="oxford" src="{{ "/assets/img/oxford1.jpg" | prepend: site.baseurl }}" />
    <p>The city of dreaming spires, amazing architecture, history and culture, and the place where Wonderland and Middle Earth came to be. </p>
  </div>
  <div class="tech">
    <h3>Mainz, DE</h3>
    <img width="200px" alt="mainz1" src="{{ "/assets/img/mainz10.jpg" | prepend: site.baseurl }}" />
    <img width="200px" alt="mainz2" src="{{ "/assets/img/mainz20.jpg" | prepend: site.baseurl }}" />
    <p>Located on the Rhine Valley (UNESCO World Heritage Site), Mainz has everything from history, medieval castles and vineyards, and easy travel access to anywhere else. </p>
  </div>
  <div class="tech">
    <h3>La Jolla, USA</h3>
    <img width="200px" alt="oxford" src="{{ "/assets/img/lajolla2.jpg" | prepend: site.baseurl }}" />
    <p>North of San Diego, La Jolla hosts UCSD and Scripps Inst. of Oceanography. Beach, sun, surf, sunsets, beer, tacos...</p>
  </div>
</div>