<div class="user-details">
  <h1> Research Projects </h1>
</div>

The projects below have been done in collaboration with many scientists that I've been fortunate to work with, learn and share ideas. A complete list of collaborators can be found in <a href="#publications" data-scroll>Publications</a> <a target="_blank" href="https://scholar.google.com/citations?user=AojkhEwAAAAJ&hl=en">Google Scholar</a>

<div class="user-projects">
  <div class="images-right">
    <img alt="mcompbuoy" src="{{ "/assets/img/out_compare_blank.png" | prepend: site.baseurl }}" />
    <video controls>
      <source src="{{ "/assets/vid/FR1_dTdx005_beta2.m4v" | prepend: site.baseurl }}" type="video/mp4">
    </video>
  </div>
  <div class="contents-right">
    <h3> Buoyancy-driven flow at Mid-Ocean Ridges </h3>
    <ul>
      <li>Effect of chemical heterogeneities on mantle flow</li>
    </ul>
    <p>New mid-ocean ridge model to investigate buoyancy-driven flow due to porosity, composition, and temperature. Right: simulation showing development of asymmetry beneath ridge axis and small-scale convection at the lithosphere-asthenosphere boundary. Top panel represents melt fraction (porosity); bottom panel represents bulk density relative to reference solid mantle. </p>
    <a class="project-link" target="_blank" href="https://academic.oup.com/gji/advance-article/doi/10.1093/gji/ggac309/6671556">Pusok et al. (GJI, 2022)</a>
    <a class="project-link" target="_blank" href="https://github.com/apusok/FD-PDE/tree/main/models/mbuoy3">Github code: mbuoy3</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="rift-o-mat" src="{{ "/assets/img/rift-o-mat01.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Magma dynamics at Mid-Ocean Ridges and Rifts </h3>
    <ul>
      <li>RIFT-O-MAT Project</li>
    </ul>
    <p>How does magmatism promote and shape rifts in continental and oceanic lithosphere? In this project, we plan to focus on magma generation and transport at spreading ridges, but also on deformation of host rock to investigate processes such as diking and faulting. We are also developing numerical tools (FD-PDE framework) that are suitable for magma dynamics theory with visco-elasto-plastic rheology. </p>
    <a class="project-link" target="_blank" href="http://foalab.earth.ox.ac.uk">Foalab website</a>
    <a class="project-link" target="_blank" href="https://github.com/apusok/FD-PDE">Github code: FD-PDE framework</a>
    <a class="project-link" target="_blank" href="https://presentations.copernicus.org/EGU2020/EGU2020-18690_presentation.pdf">EGU2020-presentation</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="101geodynamics" src="{{ "/assets/img/ModellingFlow.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Guide to 101 Geodynamics </h3>
    <ul>
      <li>Methods, practices, philosophy of geodynamic modelling</li>
    </ul>
    <p>The COVID pandemic made us (the authors) to transform a short EGU course into this collaborative perspectives paper. The paper aims to be an introduction to geodynamic modelling for students or non-geodynamicists, but also invites feedback from a more expert audience. We cover the general mathematical theory, numerical methods, designing and performing numerical investigations, to data and software availability, and communication.</p>
    <a class="project-link" target="_blank" href="https://se.copernicus.org/preprints/se-2021-14/">van Zelst et al. (Solid Earth, 2022)</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="sediments" src="{{ "/assets/img/MSubdSed-results01-03-04_03.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Sediments and style of convergent margins </h3>
    <ul>
      <li>Effect of low-viscosity sediments on subduction dynamics</li>
    </ul>
    <p>Subduction zones represent the only major pathway by which continental material (sediments) can be returned to the Earth's mantle. When sediments are considered, convergent margins appear to fall into one of two classes: accretionary and erosive. In this study, we run 2-D subduction simulations to investigate how sediment fluxes influence subduction dynamics and plate coupling.</p>
    <a class="project-link" target="_blank" href="https://se.copernicus.org/preprints/se-2021-137/">Pusok et al. (Solid Earth, 2022)</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="double subduction" src="{{ "/assets/img/MDoubleSubd.png" | prepend: site.baseurl }}" />
    <img alt="double subduction" src="{{ "/assets/img/MConvIndia.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Same-dip double subduction </h3>
    <ul>
      <li>India-Eurasia convergence history</li>
    </ul>
    <p>Same-dip double subduction is a special tectonic configuration, where two slabs dip in the same direction. Examples exist for the India-Asia and the present day Ryukyu-Izu-Bonin-Mariana (Pacific, Philippines Sea Plates) settings. We run 2-D and 3-D models to investigate the formation and stability of double subduction, and we propose a new sequence of events for the India-Asia convergence history.</p>
    <a class="project-link" target="_blank" href="https://agupubs.onlinelibrary.wiley.com/doi/abs/10.1029/2018JB017027">Pusok and Stegman (JGR, 2019)</a>
    <a class="project-link" target="_blank" href="https://advances.sciencemag.org/content/6/19/eaaz8681">Pusok and Stegman (Science Advances, 2020)</a>
    <a class="project-link" target="_blank" href="https://www.youtube.com/watch?v=zy7zWPpX8aI">Youtube G&T talk 2020</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="topography" src="{{ "/assets/img/MTopo-G33.jpg" | prepend: site.baseurl }}" />
    <img alt="topography" src="{{ "/assets/img/MTopo-G32.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Topography in 3-D continental collision models </h3>
    <ul>
      <li>Topography (free surface) analysis</li>
    </ul>
    <p>The Himalayas, the Tibetan Plateau, or the Andes are remarkable features on the surface of the Earth. However, it is unclear how they formed or why they are so high. In this project, we ran lots of 3-D simulations of subduction/collision to understand how high topography (>5km) is formed. And it turns out it's not so easy to build topography in numerical models. However, we do provide semi-analytical insights on the conditions necessary for building high mountains and plateaus. </p>
    <a class="project-link" target="_blank" href="https://onlinelibrary.wiley.com/doi/full/10.1002/2015GC005732">Pusok and Kaus (G-cubed, 2015)</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="3dnvep" src="{{ "/assets/img/abstract-strain_rate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Rheological approximations in 3-D subduction/collision models </h3>
    <ul>
      <li> Slab break-off rheological modes </li>
    </ul>
    <p>Rocks deform in a visco-elasto-plastic manner, which is difficult to solve numerically (nonlinear system) and the coefficients are poorly constrained from observations and laboratory experiments. So, previous numerical studies used various approximations for rock rheology. In this study, we investigate the effect of such rheological approximations in a 3-D subduction/collision model. </p>
    <a class="project-link" target="_blank" href="https://www.sciencedirect.com/science/article/pii/S0040195118301604">Pusok et al. (Tectonophys., 2018)</a>
  </div>
</div>

<div class="user-projects">
    <div class="images-right" >
      <img alt="numerics" src="{{ "/assets/img/MMethods.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="contents">
      <h3> Numerical methods </h3>
      <ul>
        <li>Finite differences, VEP rheology, Single/two-phase flow </li>
      </ul>
      <p>Part of my research is to continuosly test and improve the numerical methods that I'm using (mostly related to Finite Differences discretization schemes). Another numerical challenge is to incorporate the complex deformation of rocks (rheology) in models. </p>
      <a class="project-link" target="_blank" href="https://link.springer.com/article/10.1007/s00024-016-1431-8">Pusok et al. (PAAG, 2017)</a>
      <a class="project-link" target="_blank" href="https://www.blogs.uni-mainz.de/fb09-geosciences/files/2018/12/Kaus_etal_NIC.pdf">LaMEM - Kaus et al. (2016)</a>
      <a class="project-link" target="_blank" href="https://bitbucket.org/bkaus/lamem/src/master/">Bitbucket: LaMEM</a>
    </div>
  </div>
  
  <div class="user-projects">
      <div class="images-right">
        <img alt="mor" src="{{ "/assets/img/thermalboundary.png" | prepend: site.baseurl }}" />
        <img alt="mor" src="{{ "/assets/img/mr117698-W.png" | prepend: site.baseurl }}" />
      </div>
      <div class="contents">
        <h3> Magma dynamics at Mid-Ocean Ridges (MORs) - MSc project</h3>
        <ul>
          <li>Two-phase flow models</li>
        </ul>
        <p>Oceanic crust and most of volcanism on Earth are produced at MORs (divergent plate boundaries). As the plates move laterally, the mantle is decompressed and the mantle rock starts melting. Buoyant melt will tend to move upwards forming an interconnected network of pores and channels. Generation, transport and extrusion/emplacement of melt in the lithosphere are still major questions. We model the interaction between melt and the solid mantle and address questions such as: Is the flow beneath mid-ocean ridges entirely passive, or there is also an active component due to magma dynamics? How is magma being transported from the mantle asthenosphere to the surface?  </p>
        <a class="project-link" target="_blank" href="http://foalab.earth.ox.ac.uk">Foalab website</a>
      </div>
  </div>
