<div class="user-details">
  <h1> Publications </h1>
</div>

<h3> Peer-reviewed </h3>
<ul>
    <li><strong>Pusok, A.E.</strong>, Stegman, D.R. <strong>(2020)</strong>, The convergence history of India-Eurasia records multiple subduction dynamics processes, <em>Science Advances</em>, 6(19), eaaz8681, doi:10.1126/sciadv.aaz8681. 
      <a target="_blank" href="https://advances.sciencemag.org/content/6/19/eaaz8681">[link]</a>
      <a target="_blank" href="https://bitbucket.org/adina/rep-mconvindia/src/master/">[data repository]</a></li>
    <li><strong>Pusok, A.E.</strong>, Stegman, D.R. <strong>(2019)</strong>, Formation and stability of same‐dip double subduction systems, <em>J. Geophys. Res.: Solid Earth</em>, 124, 7387-7412, doi: 10.1029/2018JB017027. 
      <a target="_blank" href="https://agupubs.onlinelibrary.wiley.com/doi/abs/10.1029/2018JB017027">[link]</a>
      <a target="_blank" href="https://bitbucket.org/adina/rep-mdoublesubd/src/master/">[data repository]</a></li>
    <li><strong>Pusok, A.E.</strong>, Kaus, B., Popov, A. <strong>(2018)</strong>, The effect of rheological approximations in 3-D numerical simulations of subduction and collision, <em>Tectonophys.</em>, 746, 296-311, doi:10.1016/j.tecto.2018.04.017. 
      <a target="_blank" href="https://www.sciencedirect.com/science/article/pii/S0040195118301604">[link]</a>
      <a target="_blank" href="https://bitbucket.org/adina/rep-mnvep/src/master/">[data repository]</a></li>
    <li><strong>Pusok, A.E.</strong>, Kaus, B.J.P., Popov, A.A. <strong>(2017)</strong> On the quality of velocity interpolation schemes for marker-in-cell method and 3-D staggered grids, <em>Pure Appl. Geophys.</em>, 174: 3, 1071-1089, doi:10.1007/s00024-016-1431-8. <a target="_blank" href="https://link.springer.com/article/10.1007/s00024-016-1431-8">[link]</a></li>
    <li>Kaus, B.J.P., Popov, A.A., Baumann, T.S., <strong>Pusok, A.E.</strong>, Bauville, A., Fernandez, N., Collignon, M. <strong>(2016)</strong> Forward and inverse modeling of lithospheric deformation on geological timescales, <em>NIC Symposium 2016 - Proceedings</em>, Vol. 48, edited by K. Binder, M. Müller, A. Schnurpfeil, p. 299-307. <a target="_blank" href="https://www.blogs.uni-mainz.de/fb09-geosciences/files/2018/12/Kaus_etal_NIC.pdf">[link]</a></li>
    <li><strong>Pusok, A.E.</strong>, Kaus, B.J.P. <strong>(2015)</strong> Development of topography in 3-D continental collision models, <em>Geochem., Geophys., Geosyst.</em>, 16, doi:10.1002/2015GC005732. <a target="_blank" href="https://agupubs.onlinelibrary.wiley.com/doi/full/10.1002/2015GC005732">[link]</a></li>
</ul>

<h3> In review/Submitted/In prep. </h3>
<ul>
  <li><strong>Pusok, A.E.</strong>, Stegman, D.R., Kerr, M. <strong>(2020)</strong>, The effect of sediment fluxes on the dynamics and style of convergent margins <em>(in preparation)</em>.</li>
</ul>

<h3> Theses </h3>
<ul>
  <li>Three-dimensional numerical modeling of subduction/collision and lithospheric deformation <strong>(D.Phil. 2016)</strong>, JGU Mainz (reviewed by Kaus, B.J.P, Gerya, T., and Stegman, D.).</li>
  <li>Porosity and compositionally-induced active convection beneath mid-ocean ridges <strong>(MEarthSci. 2012)</strong>, University of Oxford (examined by Parsons, B. and Woodhouse, J.).</li>
</ul>

<h3> Other </h3>
<ul>
  <li>What is FAIR for Geodynamics? <strong>(July 2020)</strong>, article for the <em>EGU Blog - Geodynamics division</em>. <a target="_blank" href="https://blogs.egu.eu/divisions/gd/2020/07/24/what-is-fair-for-geodynamics/">[link]</a></li>
  <li>Writing the Methods Section <strong>(Sep 2019)</strong>, article for the <em>EGU Blog - Geodynamics division</em>. <a target="_blank" href="https://blogs.egu.eu/divisions/gd/2019/09/20/writing-the-methods-section/">[link]</a></li>
  <li>Demystifying the Peer-Review Process <strong>(Jan 2019)</strong>, article for the <em>EGU Blog - Geodynamics division</em>. <a target="_blank" href="https://blogs.egu.eu/divisions/gd/2019/02/06/demystifying-the-peer-review-process/">[link]</a></li>
  <li>White paper Reporting Outcomes from NSF-Sponsored Workshop: CTSP - Coupling of Tectonic and Surface Processes, April 25-27, 2018, Boulder CO. Writing committee: Barnhart, K., Becker, T., Behn, M., Brown, J., Choi, E., Cooper, C., Dannberg, J., Gasparini, N., Gassmoeller, R., Hwang, L., Kaus, B., Kellogg, L., Lavier, L., Mittelstaedt, E., Moresi, L., <strong>Pusok, A.E.</strong>, Tucker, G., Phaedra Upton, P., Val, P. <strong>(Sept 2018)</strong>.</li>
  <li>Making the most of the EGU General Assembly 2018 <strong>(Apr 2018)</strong>, article for the <em>EGU Blog - Geodynamics division</em>. <a target="_blank" href="https://blogs.egu.eu/divisions/gd/2018/04/04/making-the-most-of-the-egu-general-assembly-2018-as-a-geodynamicist-and-early-career-scientist/">[link]</a></li>
  <li>Remarkable Regions - The India-Asia collision zone <strong>(Dec 2017)</strong>, article for the <em>EGU Blog - Geodynamics division</em>. <a target="_blank" href="https://blogs.egu.eu/divisions/gd/2017/12/20/remarkable-regions-the-india-asia-collision-zone/">[link]</a></li>
  <li>A Geodynamicist and an Early Career Scientist <strong>(Aug 2017)</strong>, article for the <em>EGU Blog - Geodynamics division</em>. <a target="_blank" href="https://blogs.egu.eu/divisions/gd/2017/08/02/a-geodynamicist-and-an-early-career-scientist/">[link]</a></li>
</ul>