---
import { Icon } from 'astro-icon/components';
import { 
	Container, 
	Button,
  TextCardSection,
	YouTubeEmbedSection, 
  TextSection } from '@components/odyssey-theme';
import Layout from '../../layouts/Page.astro';
import TextAndImageHero from '../../components/sections/heros/TextAndImageHero.astro';

const seo = {
  title: `Research | A Pusok`,
  description: `Research`,
};
---

<Layout seo={seo}>

	<TextSection narrow>
		<h1>Research Projects</h1> 
		
		The projects below have been done in collaboration with many scientists that I've been fortunate 
		to work with, learn and share ideas. A complete list of collaborators can be found in 
		<a class="a_theme" target="_blank" href="https://scholar.google.com/citations?user=AojkhEwAAAAJ&hl=en">Google Scholar</a>
    <ul></ul>
    <p>
      <em>Overview:</em> Oceanic crust and most of volcanism on Earth are produced at mid-ocean ridges, an underwater mountain chain where two tectonic plates 
      separate. Basic theories suggest that hot material within the Earth's interior rises passively, melts and then cools 
      down to create oceanic crust. However, past decade geophysical surveys revealed that magma has a more dynamic character and 
      its journey from the mantle to the surface is intrinsically more complex than previously thought. We model the interaction between melt and the 
      solid rock to address questions related to generation, transport and extrusion/emplacement of melt in the lithosphere. 
    </p>
  </TextSection>

  

  <TextAndImageHero>
		<div slot="text-container">
			<h3>Melt extraction in the Turkana Depression</h3>
			<p>Turkana Depression shows widespread diffuse faulting and volcanism, in contrast to the narrow rift architecture in the Ethiopian Plateau.
        It also experienced two episodes of rifting prior to flood-basalt magmatism, likely thinning and weakening the lithosphere.
        Here, we propose that lithospheric strength (rheology) has a strong control on melt extraction and this can explain the anomalous 
        rift architecture in the Turkana Depression, East African Rift. This work represents one of the 
        first physically-consistent rift model with magma transport.</p>
		</div>
		<div slot="btns-container">
			<Button href="https://agupubs.onlinelibrary.wiley.com/journal/19448007?gad_campaignid=16627939588&gad_source=1&gbraid=0AAAAADoE1an6GDoQjlIdnywqfrxHaF62N&gclid=Cj0KCQjwt8zABhDKARIsAHXuD7aCXdTC8PKwfUvwMCNajlyMmdbTWO-oKkqOnC6QX4rW08TFm76RkZoaAraFEALw_wcB&utm_campaign=R3MR425&utm_content=EarthSpaceEnvirSci&utm_medium=cpc&utm_source=google" customIcon
      newTab > Pusok et al. (GRL, 2025) <Fragment slot="icon">
					<Icon name="ic:baseline-chevron-right" />
				</Fragment></Button>
        <ul></ul>
			<Button href="https://github.com/apusok/FD-PDE/tree/main/models/morfault" newTab customIcon
				> Github code: morfault <Fragment slot="icon">
					<Icon name="ic:baseline-chevron-right" />
				</Fragment></Button>
		</div>
		<picture slot="image-container">
			<img
				src="/assets/img/turkana.png"
				alt="OceanMelt"
				id="home-hero-image"
			/>
		</picture>
	</TextAndImageHero>

	<TextAndImageHero reversed>
		<div slot="text-container">
			<h3 >RS URF Project: Making the Ocean Floor</h3>
			<p>The project aims to understand the interaction between magmatism and tectonics in 
        oceanic settings. Motivated by the most recent observations from the ocean floor, we 
        plan to develop physics-based models that capture the details of magma generation in 
        the mantle and how it travels to the surface to create and shape the seafloor. (2024-2031)</p>
		</div>
		<!-- <div slot="btns-container">
			<Button href="/theme/get-started" customIcon
				>Get Started <Fragment slot="icon">
					<Icon name="ic:baseline-chevron-right" />
				</Fragment></Button
			>
		</div> -->
		<picture slot="image-container">
			<img
				src="/assets/img/RSurf_overview.png"
				alt="OceanMelt"
				id="home-hero-image"
			/>
		</picture>
	</TextAndImageHero>

	<TextAndImageHero>
		<div slot="text-container">
			<h3 style="font-size: var(--font-size-lg);">Convective flow at the LAB</h3>
			<p>A classic problem in geophysics, what is the nature of the lithosphere-asthenosphere boundary (LAB)? 
        The LAB is the boundary between tectonic plates and the convecting mantle below, but also marks a transition 
        between heat transport by conduction in the lithosphere and by convection in the asthenosphere.
        Multiple geophysical observations suggest a weaker and shallower LAB. Small melt fractions enriched in volatiles (water, carbon dioxide) 
        may explain these geophysical observations and the geochemistry of intraplate volcanoes. 
        Right: two-phase flow models show how volatile-assisted melting impacts convective flow in the asthenosphere.
      </p>
		</div>
		<!-- <div slot="btns-container">
			<Button href="/theme/get-started" customIcon
				>Get Started <Fragment slot="icon">
					<Icon name="ic:baseline-chevron-right" />
				</Fragment></Button
			>
		</div> -->
		<picture slot="image-container" style="width: 100%;">
			<img 
				src="/assets/img/LABconvect.png"
				alt="OceanMelt"
				id="home-hero-image"
			/>
		</picture>
	</TextAndImageHero>

	<TextAndImageHero reversed>
		<div slot="text-container">
			<h3 >Buoyancy-driven flow at mid-ocean ridges</h3>
			<p>Mid-ocean ridge model to investigate buoyancy-driven flow due to porosity, 
        composition, and temperature. Right: simulation showing development of asymmetry beneath 
        ridge axis and small-scale convection at the lithosphere-asthenosphere boundary. 
        Top panel represents melt fraction (porosity); bottom panel represents bulk density relative 
        to reference solid mantle.</p>
		</div>
		<div slot="btns-container">
			<Button href="https://academic.oup.com/gji/advance-article/doi/10.1093/gji/ggac309/6671556" newTab customIcon
				> Pusok et al. (GJI, 2022) <Fragment slot="icon">
					<Icon name="ic:baseline-chevron-right" />
				</Fragment></Button>
        <ul></ul>
			<Button href="https://github.com/apusok/FD-PDE/tree/main/models/mbuoy3" newTab customIcon
				> Github code: mbuoy3 <Fragment slot="icon">
					<Icon name="ic:baseline-chevron-right" />
				</Fragment></Button>
		</div>
		<picture slot="image-container">
			<YouTubeEmbedSection url="https://www.youtube.com/watch?v=hoBybmiXkzs" rounded/>
      Source: Adina Pusok. © Foalab.
		</picture>
	</TextAndImageHero>

	<TextAndImageHero>
		<div slot="text-container">
			<h3 style="font-size: var(--font-size-lg);">RIFT-O-MAT Project: Magma dynamics at mid-ocean ridges and rifts</h3>
			<p> How does magmatism promote and shape rifts in continental and oceanic lithosphere? 
        In this project (PI Richard Katz, U. Oxford), we focused on magma generation and transport at spreading ridges, 
        but also on deformation of the host rock to investigate processes such as diking and faulting. 
        We also developed numerical tools (FD-PDE framework) that are suitable for magma dynamics 
        theory with visco-elasto-plastic rheology. (2019-2024)
      </p>
		</div>
		<div slot="btns-container">
			<Button href="http://foalab.earth.ox.ac.uk" newTab customIcon
				> Foalab website <Fragment slot="icon">
					<Icon name="ic:baseline-chevron-right" />
				</Fragment></Button>
        <ul></ul>
			<Button href="https://github.com/apusok/FD-PDE" newTab customIcon
				> Github code: FD-PDE framework <Fragment slot="icon">
					<Icon name="ic:baseline-chevron-right" />
				</Fragment></Button>
        <ul></ul>
			<Button href="https://academic.oup.com/gji/article/234/3/2007/7136153?login=false" newTab customIcon
				> Li et al. (GJI, 2023) <Fragment slot="icon">
					<Icon name="ic:baseline-chevron-right" />
				</Fragment></Button>
        <ul></ul>
      <Button href="https://egusphere.copernicus.org/preprints/2024/egusphere-2024-3504/" newTab customIcon
				> Li et al. (GMD, 2025) <Fragment slot="icon">
					<Icon name="ic:baseline-chevron-right" />
				</Fragment></Button>
		</div>
		<picture slot="image-container">
			<YouTubeEmbedSection url="https://www.youtube.com/watch?v=rFhb6mFEZNg" rounded/>
      Overview of poro-viscoelasto-viscoplastic flow theory. Source: Yuan Li. © Foalab.
		</picture>
	</TextAndImageHero>

  <TextAndImageHero reversed>
		<div slot="text-container">
			<h3 >Guide to 101 Geodynamics</h3>
			<p>During the COVID pandemic, we (the authors) transformed a short EGU course into this collaborative 
        perspectives paper on methods, practices, and philosophy of geodynamic modelling. The paper aims to be 
        an introduction to geodynamic modelling for students and non-geodynamicists, but also invites feedback 
        from a more expert audience. </p>
		</div>
		<div slot="btns-container">
			<Button href="https://se.copernicus.org/preprints/se-2021-14/" newTab customIcon
				> van Zelst et al. (Solid Earth, 2022) <Fragment slot="icon">
					<Icon name="ic:baseline-chevron-right" />
				</Fragment></Button>
		</div>
			<picture slot="image-container" style="width: 100%;">
        <img 
          src="/assets/img/ModellingFlow.png"
          alt="101gd"
          id="home-hero-image"
        />
		</picture> 
	</TextAndImageHero>


  <TextAndImageHero>
		<div slot="text-container">
			<h3>Sediments and style of convergent margins</h3>
			<p> Subduction zones represent the only major pathway by which continental material (sediments) can be 
        returned to the Earth's mantle. When sediments are considered, convergent margins appear to fall into 
        one of two classes: accretionary and erosive. In this study, we run 2-D subduction simulations to 
        investigate how sediment fluxes influence subduction dynamics and plate coupling.
      </p>
		</div>
		<div slot="btns-container">
			<Button href="https://se.copernicus.org/articles/13/1455/2022/se-13-1455-2022.html" newTab customIcon
				> Pusok et al. (Solid Earth, 2022) <Fragment slot="icon">
					<Icon name="ic:baseline-chevron-right" />
				</Fragment></Button>
		</div>
		<picture slot="image-container">
      <img 
        src="/assets/img/MSubdSed-results01-03-04_03.jpg"
        alt="101gd"
        id="home-hero-image"
      />
  </picture> 
	</TextAndImageHero>

  <TextAndImageHero reversed>
		<div slot="text-container">
			<h3 >India-Asia convergence history and double subduction</h3>
			<p>Same-dip double subduction is a special tectonic configuration, where two slabs dip in the same direction. 
        Examples exist for the India-Asia and the present day Ryukyu-Izu-Bonin-Mariana (Pacific, Philippines Sea Plates) 
        settings. We run 2-D and 3-D models to investigate the formation and stability of double subduction, and we 
        propose a new sequence of events for the India-Asia convergence history. </p>
		</div>
		<div slot="btns-container">
			<Button href="https://agupubs.onlinelibrary.wiley.com/doi/abs/10.1029/2018JB017027" newTab customIcon
				> Pusok and Stegman (JGR, 2019) <Fragment slot="icon">
					<Icon name="ic:baseline-chevron-right" />
				</Fragment></Button>
        <ul></ul>
        <Button href="https://advances.sciencemag.org/content/6/19/eaaz8681" newTab customIcon
				> Pusok and Stegman (Sci. Adv., 2020) <Fragment slot="icon">
					<Icon name="ic:baseline-chevron-right" />
				</Fragment></Button>
		</div>
			<picture slot="image-container">
        <img src="/assets/img/Mdouble.png" alt="101gd" id="home-hero-image" />
		</picture> 
	</TextAndImageHero>

  <TextAndImageHero>
		<div slot="text-container">
			<h3>Topography in 3-D continental collision models</h3>
			<p> The Himalayas, the Tibetan Plateau, or the Andes are remarkable features on the surface of the Earth. However, it is unclear how they 
        formed or why they are so high. In this project, we ran lots of 3-D simulations of subduction/collision to understand how high topography 
        (>5km) is formed. And it turns out it's not so easy to build topography in numerical models. However, we do provide semi-analytical insights 
        on the conditions necessary for building high mountains and plateaus.
      </p>
		</div>
		<div slot="btns-container">
			<Button href="https://onlinelibrary.wiley.com/doi/full/10.1002/2015GC005732" newTab customIcon
				> Pusok and Kaus (G-cubed, 2015) <Fragment slot="icon">
					<Icon name="ic:baseline-chevron-right" />
				</Fragment></Button>
		</div>
		<picture slot="image-container" style="width:90%">
      <img 
        src="/assets/img/MTopo.png"
        alt="101gd"
        id="home-hero-image"
      />
  </picture> 
	</TextAndImageHero>

  <TextAndImageHero reversed>
		<div slot="text-container">
			<h3 >Rheological approximations in 3-D subduction-collision models</h3>
			<p>Rocks deform in a visco-elasto-plastic manner, which is difficult to solve numerically (nonlinear system) and the coefficients are poorly 
        constrained from observations and laboratory experiments. So, previous numerical studies used various approximations for rock rheology. 
        In this study, we investigate the effect of such rheological approximations in a 3-D subduction/collision model. </p>
		</div>
		<div slot="btns-container">
			<Button href="https://www.sciencedirect.com/science/article/pii/S0040195118301604" newTab customIcon
				> Pusok et al. (Tectonophys., 2018) <Fragment slot="icon">
					<Icon name="ic:baseline-chevron-right" />
				</Fragment></Button>
		</div>
			<picture slot="image-container">
        <img src="/assets/img/abstract-strain_rate.jpg" alt="101gd" id="home-hero-image" />
		</picture> 
	</TextAndImageHero>

  <TextAndImageHero>
		<div slot="text-container">
			<h3>Numerical methods for computational geodynamics </h3>
			<p>Part of my research involves developing the numerical techniques employed. By knowing and mastering the tools I am using, my work can achieve far 
        better quality, a principle I try to follow and instill in others. Topics: numerical methods for single/two-phase flow theory, finite difference 
        discretisation scheme, non-linear solvers for complex rheology.
      </p>
		</div>
		<div slot="btns-container">
			<Button href="https://link.springer.com/article/10.1007/s00024-016-1431-8" newTab customIcon
				> Pusok et al. (PAAG, 2017) <Fragment slot="icon">
					<Icon name="ic:baseline-chevron-right" />
				</Fragment></Button>
        <ul></ul>
        <Button href="https://www.blogs.uni-mainz.de/fb09-geosciences/files/2018/12/Kaus_etal_NIC.pdf" newTab customIcon
				> LaMEM - Kaus et al. (2016) <Fragment slot="icon">
					<Icon name="ic:baseline-chevron-right" />
				</Fragment></Button>
        <ul></ul>
        <Button href="https://bitbucket.org/bkaus/lamem/src/master/" newTab customIcon
				> Bitbucket: LaMEM <Fragment slot="icon">
					<Icon name="ic:baseline-chevron-right" />
				</Fragment></Button>
		</div>
		<picture slot="image-container" style="width:100%">
      <img 
        src="/assets/img/MMethods.jpg"
        alt="101gd"
        id="home-hero-image"
      />
  </picture> 
	</TextAndImageHero>

  <TextSection>
    <div class="cta-buttons__container">
      <Button href="/">Return Home</Button>
    </div>
  </TextSection>

</Layout>