---
import { 
	Container, 
	Button,
  TextCardSection,
	YouTubeEmbedSection, 
  TextSection } from '@components/odyssey-theme';
import Layout from '../../layouts/Page.astro';

const seo = {
  title: `Seafloor Seminar Series | A Pusok`,
  description: `Seafloor Seminar Series`,
};
---

<Layout seo={seo}>
	<TextSection narrow>
			<h2>Seafloor Seminar Series</h2>
			<h3>* Coming soon *</h3>
		</TextSection>
</Layout>

<style>
	.cta-buttons__container {
		display: flex;
		flex-wrap: wrap;
	}
	.cta-buttons__container :global(a) {
		margin-right: 1rem;
		margin-bottom: 1rem;
	}
	.code-buttons__container {
		margin: 1rem auto;
		display: flex;
		flex-wrap: wrap;
	}
	.code-buttons__container > a {
		margin-right: 1rem;
		margin-bottom: 1rem;
	}
</style>
