---
import { Icon } from 'astro-icon/components';
import { 
	Container, 
	Button,
  TextCardSection,
	YouTubeEmbedSection, 
  TextSection } from '@components/odyssey-theme';
import TeamMember from '../../components/sections/heros/TeamMember.astro';
import Layout from '../../layouts/Page.astro';

const seo = {
  title: `Software | A Pusok`,
  description: `Software`,
};
---

<Layout seo={seo}>
  <Container>
		<TextCardSection>
			<h1 style="color: var(--theme-on-surface-1);">Software</h1> 
			<!-- <h2>Coming soon</h2> -->

			<p class="h_theme"> Primary development of </p>
			<TeamMember reversed>
				<div slot="text-container">
					<h3 class="h_theme">FD-PDE Framework</h3>
						<ul class="h_theme">
							<li>The FD-PDE framework uses finite difference staggered grids for solving partial differential equations (PDEs) 
								for single-/two-phase flow magma dynamics and other applications in geodynamics.</li>
							<li> The framework is based on <a class="a_theme" target="_blank" href="https://petsc.org/release/">PETSc</a>. 
								Governing equations are discretized as object PDEs (i.e., FDPDE Type), and the user only specifies coefficients, 
								constitutive equations, and boundary conditions.</li>
							<li>Models: mid-ocean ridge dynamics, melt extraction, small-scale convection.</li>
						</ul>
						<Button href="https://github.com/apusok/FD-PDE/" newTab customIcon
						> Github repository <Fragment slot="icon">
							<Icon name="ic:baseline-chevron-right" />
						</Fragment></Button>
				</div>
				<picture slot="image-container" style="width: 100%;">
					<img 
						src="../../../assets/img/logo_cmap2.png"
						alt="author"
						id="home-hero-image"
					/>
				</picture>
			</TeamMember>


			<p class="h_theme"> Contributed to the development of </p>
			<TeamMember reversed>
				<div slot="text-container">
					<h3 class="h_theme">LaMEM</h3>
						<ul class="h_theme">
							<li>LaMEM (Lithosphere and Mantle Evolution Model) is a fast, parallel 3D numerical code for thermo-mechanical 
								geodynamics problems with visco-elasto-plastic rheologies.</li>
								<li> LaMEM is also based on <a class="a_theme" target="_blank" href="https://petsc.org/release/">PETSc</a>. </li>
							</ul>
						<Button href="https://github.com/UniMainzGeo/LaMEM" newTab customIcon
						> Github repository <Fragment slot="icon">
							<Icon name="ic:baseline-chevron-right" />
						</Fragment></Button>
				</div>
				<picture slot="image-container" style="width: 100%;">
					<img 
						src="../../../assets/img/logo_cmap3.png"
						alt="author"
						id="home-hero-image"
					/>
				</picture>
			</TeamMember>

			<div class="cta-buttons__container">
				<Button href="/">Return Home</Button>
			</div>
		</TextCardSection>
	</Container>
</Layout>