---
import { 
	Container, 
	Button,
  TextCardSection,
	YouTubeEmbedSection, 
  TextSection } from '@components/odyssey-theme';
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/HeroSection.astro';
import TeamMember from '../../components/sections/heros/TeamMember.astro';

const seo = {
  title: `Team | A Pusok`,
  description: `Team`,
};
---

<Layout seo={seo}>
  <Container>
		<TextCardSection>
			<h1 style="color: var(--theme-on-surface-1);">Research Team</h1> 
			<!-- <h3 class="h_theme">Current Members</h3> -->

			<TeamMember reversed>
				<div slot="text-container">
					<h3 class="h_theme">Adina Pusok</h3>
						<ul class="h_theme">
							<li>Royal Society University Research Fellow</li>
							<li><a target="_blank" href="/apusok/about">Bio</a>, <a target="_blank" href="https://www.earth.ox.ac.uk/people/adina-pusok">Departmental homepage</a></li>
						</ul>
					<h4 class="h_theme">
						Email: <a class="a_theme" href="mailto:adina.pusok@earth.ox.ac.uk" rel="nofollow">adina.pusok@earth.ox.ac.uk</a>
					</h4>
				</div>
				<picture slot="image-container" style="width: 40%;">
					<img 
						src="../../../assets/img/profile2020.jpg"
						alt="author"
						id="home-hero-image"
					/>
				</picture>
			</TeamMember>

			<TeamMember reversed>
				<div slot="text-container">
					<h3 class="h_theme">Marko Repac</h3>
						<ul class="h_theme">
							<li>Postdoctoral Research Associate </li>
							<li>Melt extraction across the lithosphere</li>
						</ul>
				</div>
				<picture slot="image-container" style="width: 40%;">
					<img 
						src="../../../assets/img/dandelion-seed.jpeg"
						alt="OceanMelt"
						id="home-hero-image"
					/>
				</picture>
			</TeamMember>

			<TeamMember reversed>
				<div slot="text-container">
					<h3 class="h_theme">Yangfan Huang</h3>
						<ul class="h_theme">
							<li>D.Phil. student (co-supervised by Prof. Richard Walker)</li>
							<li>Formation of conjugate strike-slip fault systems</li>
						</ul>
				</div>
				<picture slot="image-container" style="width: 40%;">
					<img 
						src="../../../assets/img/dandelion-seed.jpeg"
						alt="OceanMelt"
						id="home-hero-image"
					/>
				</picture>
			</TeamMember>

			<!-- <h3 class="h_theme">D.Phil. Research Students</h3> -->
			<h3 class="h_theme">Past Members</h3>
			<p class="h_theme">Co-supervision with Prof. Richard Katz (U. Oxford) whilst a postdoc</p>
			<ul class="h_theme">
				<li><b>Danqing Luo</b>: MSc. student (2023-2024), now PhD student at U. Reading, UK</li>
				<li><b>Josh Fallows</b>: MSc. student (2023-2024)</li>
				<li><b>Suyue Li</b>: Intern student (Summer 2022)</li>
				<li><b>Katherine Dale</b>: MSc. student (2021-2022), now PhD student at U. Cote d'Azur, France</li>
			</ul>

			<p class="h_theme">Co-supervision with Prof. Dave Stegman (SIO/UCSD) whilst a postdoc</p>
			<ul class="h_theme">
				<li><b>Madeleine Kerr</b>: Intern student (Summer 2018), now PhD student at SIO/UCSD</li>
			</ul>

			<div class="cta-buttons__container">
				<Button href="/">Return Home</Button>
			</div>
		</TextCardSection>
	</Container>
</Layout>